/* .back {
  background: linear-gradient(rgba(230, 57, 70, 0.65), rgba(177, 18, 38, 0.65)),
    url("/assets/images/img4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */