<section class="hero d-flex align-items-center text-center">
  <div class="container">
    <h1 class="fw-bold hero-title">
      Donate Blood. Save Lives.
    </h1>

    <p class="lead hero-subtitle">
      A single donation can save up to three lives.
    </p>

    <div class="hero-buttons">
      <a routerLink="/register" class="btn btn-primary btn-lg">
        🩸 Register
      </a>
      <a routerLink="/find-donor" class="btn btn-outline-light btn-lg">
        🚑 Quick Search
      </a>
    </div>
  </div>
</section>
