.donor-card:hover {
  transform: translateY(-4px);
  transition: 0.25s ease-in-out;
}

.back {
  background:
    /* linear-gradient(rgba(230, 57, 70, 0.65), rgba(177, 18, 38, 0.65)), */
    url("/assets/images/img1.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}